@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&family=Reenie+Beanie&display=swap');

* {
    font-family: 'Quicksand';
}

h1 {
    font-family: 'Reenie Beanie';
    font-size: 64px;
    margin-bottom: 0;
}

p {
    line-height: 32px;
}

.block {
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 300px;
    margin-top: 7.5vw;
}