.navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    top: 0;
    position: sticky;
    background-color: white;
    padding-bottom: 10px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex: 0.6;
    justify-content: space-between;
    text-align: center;
    margin-top: 32px;
    margin-left: 28vw;
}

.nav-links a{  
    text-decoration: none; 
    color: #1C2E43;   
}

.nav-links a:hover{  
    text-decoration: underline;   
}

@media screen and (max-width: 600px) {
    .nav-links {
        flex: .95;
        justify-content: space-between;
        text-align: center;
        margin-top: 32px;
        margin-left: -10px;
    }
}