.projDesc {
    margin-left: 30px;
    margin-right: 40px;
    line-height: 24px;
}

.projName {
    font-size: 22px;
    margin-left: 30px; 
    line-height: 25px;
    font-weight: 400;
}

a:hover {
    text-decoration: underline;
}

.card {
    padding-top: 20px;
    border-radius: 7px;
}

@media screen and (max-width: 600px) {
    .card {
        width: 90vw;
    }
}





