.workBody {
    display: flex;
    flex-direction: column;
    margin: -100px 0px 150px 100px;
}

@media screen and (max-width: 600px) {
    .workBody {
        margin-left: 6.25%;
        margin-top: 20px;
        margin-bottom: 50px;
    }
}