.workBkgd {
    background-color: #FDFBF2;
    width: 60vw;
    margin-left: 200px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    margin-bottom: 34px;   
}

.compBkgd {
    width: 18vw;
    border-radius: 10px;
    margin-top: 2.5vw;
    margin-left: 36px;
    margin-right: 36px;
    margin-bottom: 2.5vw;
    display: flex;
    flex-direction: column;
    height: 250px;
}

.compBkgdSm {
    width: 18vw;
    border-radius: 10px;
    margin-top: 2.5vw;
    margin-left: 36px;
    margin-right: 36px;
    margin-bottom: 2.5vw;
    display: flex;
    flex-direction: column;
    height: 220px;
}

.companyName {
    font-size: 24px;
    letter-spacing: 5px;
    font-weight: 300;
    margin-left: 1.5vw;
    margin-bottom: 6vw;
}

.workInfo {
    display: flex;
    flex-direction: column;
    margin-left: 1.5vw;
    font-size: 14px; 
    line-height: 0px;
}

.workCard {
    display: flex;
    flex-direction: row;
    margin-top: 1vw;
    font-size: 20px;
}

.workDesc {
    display: flex;
    flex-direction: column;
    line-height: 24px;
    width: 35vw;
}

.workDescItems {
    margin-bottom: 8px;
}

@media screen and (max-width: 600px) {
    .workBkgd {
        width: 90vw;
        display: flex;
        flex-direction: column;
        margin-left: 0%;
        margin-right: 5%;
        padding-top: 10px;
    }

    .compBkgd {
        width: 80vw;
        margin-left: 18px;
        margin-right: 12px;
        margin-bottom: 0px;
        padding-bottom: 10px;
        height: 170px;
    }

    .compBkgdSm {
        width: 80vw;
        margin-left: 18px;
        margin-right: 12px;
        margin-bottom: 0px;
        padding-bottom: 10px;
        height: 135px;
    }

    .companyName {
        font-size: 24px;
        letter-spacing: 5px;
        font-weight: 300;
        margin-left: 6%;
    }

    .workInfo {
        margin-left: 6%;
        font-size: 14px; 
        margin-bottom: 10px;
    }

    .workDesc {
        line-height: 22px;
        width: 80vw;
        margin-left: 15px;
    }

    .workCard {
        margin-bottom: -10px;
        margin-left: 10px;
    }
}